html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

.header {
  font-weight: 900;
  font-size: 50px;
}

.header-sm {
  display: none
}

.card {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.navbar-brand {
  font-family: "Kievit";
  font-size: 24px;
}

.navbar-brand img {
  height: 30px;
}

.topnav {
  background-color: #333366;
  font-family: "Kievit";
  text-align: center;
  font-size: 18px;
}

.nav-item {
  transition: all 0.3s ease 0s;
}

.nav-item:hover {
  background-color: #f72664;
  border-radius: 20px;
  padding: 0 6px;
}

.bg-custom {
  background-color: rgba(195, 161, 224, 0.548);
  height: min-content;
}

.img-read {
  width: 75%;
}

.secondary h1 {
  color: rgba(71, 13, 13, 0.815);
  text-shadow: 0px 7.5px 0.05px #dc4848;
  text-align: center;
  margin-top: auto;
}

.kartu {
  color: red;
  font-weight: bold;
  text-align: center;
}

.card-body {
  display: block;
}

.card-group {
  color: black;
}

.box-content {
  background-size: cover;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-top: 8%;
  width: 100%;
}

.box-content img {
  width: 100%;
}

.content-list-img {
  width: 150px !important;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.content-sm {
  display: none;
}

.box-contact {
  background-size: cover;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-top: 8%;
  width: 100%;
  background-color: #cccccc;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  overflow: hidden;
}

.comment {
  resize: none;
}

#virus-img {
  width: 100%;
}

.berterimakasih {
  color: rgb(255, 0, 0);
}

.stayhome {
  color: rgb(255, 0, 0);
}

.d-md-block {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  text-align: center;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

#info-covid {
  margin-top: 150px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 330px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 330px;
  width: 100%;
}

footer {
  background-color: #333366;
  color: #ffffff;
  padding: 60px;
  margin-top: 100px;
  width: 100%;
}

hr .border {
  width: 75%;
}

hr .socket {
  border-top: 2px solid #d5d5d5;
  padding: 20px;
}


@media(max-width : 1024px) {
  .content-list-img {
    width: 125px !important;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media(max-width : 769px) {
  .content-list-img {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .box-content img {
    width: 100%;
  }

  .header-md {
    display: none;
  }

  .nav-item:hover {
    background-color: transparent
  }


  .header-sm {
    display: block;
    margin-bottom: 17px;
  }

  .content-md {
    display: none;
  }

  .content-sm {
    display: block;
  }

  #info-covid {
    margin-top: 20px;
  }

  .carousel-item img {
    height: 250px;
    object-fit: cover;
  }

  .d-md-block {
    height: 175px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    text-align: center;
  }

  .d-md-block h5 {
    font-size: xx-small;
  }

  .d-md-block p {
    font-size: xx-small;
  }

  .d-md-block a {
    font-size: xx-small;
  }
}